section {
  text-align: center;
}

.centered {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 96rem;
  width: 90%;
}

.hidden {
  display: none;
}

.content {
  background-color: rgb(128,128,128);
  background-color: rgba(128,128,128,0.8);
  margin: 1%;
  padding: 1% 0;
}
