* {
  font-size: 14px;
  font-family: serif;
}

/* Setting box-sizing to border-box */

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit
}

/* --------------------- */

.article {
  background-color: blue;
  border-radius: 10px;
  height: 300px;
}

.content{
  border-radius: 10px;
  display: block;
  float: left;
  font-size: 14px;
  height: 400px;
  margin: 0.5%;
  width: 31%;
}

.content > .header {
  height: 50px;
  margin: 0 0;
}

.content > .footer {
  height: 50px;
  margin: 0 0;
}

.footer{
  background-color: magenta;
  border-radius: 10px;
  clear: both;
  font-size: 10px;
  height: 100px;
  margin: 0.5% 1%;
  text-align: center;
}

.header {
  background-color: magenta;
  border-radius: 10px;
  display: block;
  font-size: 46px;
  height: 100px;
  margin: 0.5% 1%;
  text-align: center;
}

.navigation {
  background-color: blue;
  border-radius: 10px;
  display: block;
  float: left;
  font-size: 12px;
  height: 400px;
  margin: 0.5% 1%;
  width: 32%;
}

.sidebar {
  background-color: magenta;
  border-radius: 10px;
  display: block;
  float: left;
  font-size: 10px;
  height: 400px;
  margin: 0.5% 1%;
  width: 32%;
}

/* Group resets the flow of the document after grouping elements with float: defined inside of it */

group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
