.centered {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 96rem;
  width: 90%;
}

.one-third-column {
  width: 33%;
}

.two-third-column {
  width: 66%;
}

.content {
  background-color: rgb(128,128,128);
  background-color: rgba(128,128,128,0.8);
  margin: 1% 1%;
  padding: 1% 0;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.leftFloated {
  float: left;
}

.clearButton {
  background-color: blue;
}

.fileContainer {
  background-color: white;
  border-color: grey;
  border-radius: 5px;
  border-style: dashed;
  margin: 0 5%;
  min-height: 100px;
}

/* clearfix resets the flow of the document after grouping elements with float: defined inside of it */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
